<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/reg.css')}}">
    <title>WELCOME TO GPH</title>
  <body>
  </head>
    <div>
        <div class="container">
        	<div class='row'>
        		<div class='col-12 mainframe'>
        		</div>
        	</div>
        	<div class='decor'>
		        <div class='row justify-content-center ' id='main'>
		        	<h1>WElCOME TO GPH</h1>
		        </div>

			        <div class='row'>
			        	<div class='col-3'></div>
			          	<div class='col-3 regtext'> Type your login here:</div>
			          	<div class='col-1'></div>
			            <div class='col-3 center'><input id='login'class='field' type="text" name=""></div>
			        </div>
			        <div class='row'>
			          	<div class='col-3'></div>
			            <div class='col-3 regtext'> Type your nickname here:</div>
			            <div class='col-1'></div>
			            <div class='col-3 center'><input id='name'class='field' type="text" name=""></div>
			        </div>
			        <div class='row'>
			          	<div class='col-3'></div>
			            <div class='col-3 regtext'> Type your password here:</div>
			            <div class='col-1'></div>
			            <div class='col-3 center'><input id="pass" class='field' type="text" name=""></div>
			        </div>
			        <div class='row'>
			          	<div class='col-3'></div>
			            <div class='col-3 regtext'> Type your password here again:</div>
			            <div class='col-1'></div>
			            <div class='col-3 center'><input id='passagain' class='field' type="text" name=""></div>
			        </div>
			        <div class='row'>
			          	<div class='col-3'></div>
			            <div class='col-3 regtext'> Type your email here:</div>
			            <div class='col-1'></div>
			            <div class='col-3 center'><input id='email' class='field' type="text" name=""></div>
			        </div>
			        <div class='row'> 
			          	<div class='col-3'></div>
			            <div class='col-3 regtext'> </div>
			            <div class='col-1'></div>
			            <div class='col-3 center'><button id='regbutton' name="">GOGOGOG</button></div>
			        </div>
		    </div>
		    <div class="credits">
		        	<div class='row'>
		        		<div class='col-12 center'>
		        			<u><h7><a href="https://vk.com/id316796496">MADE BY GEORGE PHILIPPOV</a></h7></u>
		        		</div>
		        	</div>
		        	<div class='row'>
		        		<div class='col-12 center'>
		        			<u><h7><a href="https://vk.com/alexkamalin">POWERED BY ALEX KAMALIN</a></h7></u>
		        		</div>
		        	</div>
		    </div>
	    </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/reg.js')}}"></script>
  </body>
</html>